body {
  margin: 0
}

#map {
  height: 100vh;
}

#feature {
  font-family: "Roboto Mono", monospace !important;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: absolute;
  z-index: 999 !important;
  bottom: 1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
}

#feature h4 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #047857;
  margin: 0;
}

#feature a {
  margin: 0 0 5px;
  text-decoration: none;
  color: black;
}

.info {
  font-family: "Roboto Mono", monospace !important;
  padding: 5px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 5px;
}

.info h4 {
  font-size: 14px;
  color: #047857;
  margin: 0 0 10px;
}

.info p {
  margin: 0 0 5px;
}

.tooltip {
  font-family: "Roboto Mono", monospace !important;
  background: none;
  box-shadow: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0
}

.custom-text-icon {
  font-family: "Roboto Mono", monospace !important;
  background-color: white;
}

.leaflet-interactive,
.leaflet-container {
  cursor: crosshair !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border: 3px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.modal-content {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
